# Contraseña para el usuario 'Sa' de SQL Server
# Cámbiela por una segura antes de ejecutar 'docker compose up'
MSSQL_SA_PASSWORD=TuPasswordSeguro123!

# Directorio de los datos. Cambia esta ruta a la carpeta donde quieras alojar los datos del proyecto.
# Si lo dejas con "./docker_data", se creará una carpeta en el directorio actual.
# Ejemplo para Windows: C:\MisProyectos\DatosERP
HOST_DATA_PATH=./docker_data
