# Contraseña para el usuario 'Sa' de SQL Server
# Cámbiela por una segura antes de ejecutar 'docker compose up'
MSSQL_SA_PASSWORD=TuPasswordSeguro123!

# Directorio de los datos. Esta ruta es OBLIGATORIA.
# Escribe la ruta exacta de la carpeta donde quieras alojar los datos del proyecto y la base de datos.
# Ejemplo para Windows: C:\MisProyectos\DatosERP
HOST_DATA_PATH=
